* {
  font-family: Montserrat;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f1f1f1;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-left img {
  width: 12.5rem;
}
.header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.content-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
ul {
  display: flex;
  gap: 50px;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  display: flex;
  gap: 10px;
}
.content-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.content-right img {
  display: flex;
}
.banner {
  width: calc(100% - 100px);
  height: 43rem;
  background-image: url(../img/banner\ img.jpg);
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0px 50px;
  position: relative;
  border-radius: 20px;
}
.banner::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 50%, transparent 70%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.banner-container {
  position: relative;
  z-index: 1;
  width: 50%;
  margin-left: 50px;
}
.banner-container h1 {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 16px;
}
.banner-container p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 14px;
}
.banner-container button {
  border: none;
  border-radius: 48px;
  font-family: Noto-regional, TCCC-UnityText;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 14px;
  padding: 0;
  text-decoration: none;
  padding: 0px 20px;
}
.service {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0px 100px;
  background-color: #f1f1f1;
}
.col-1 img {
  width: 100%;
  height: 34rem;
  border-radius: 20px 20px 0px 0px;
}
.col-2 img {
  width: 100%;
  height: 34rem;
  border-radius: 20px 20px 0px 0px;
}
.service img {
  display: flex;
}
.col-1 {
  background-color: #fff;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
}
.col-2 {
  background-color: #fff;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
}
.dichvu h1 {
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0px;
  text-align: center;
}
.content-col-1 {
  padding: 0px 10px;
}
.content-col-2 {
  padding: 0px 20px;
}
.trainghiem h1 {
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0px;
  text-align: center;
}
.experience {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  background-color: #f1f1f1;
}
.col-3 img {
  width: 55rem;
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
}
.col-4 {
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  right: 50px;
  width: 65rem;
  height: 45rem;
  padding: 0px 50px;
}
.second-button {
  margin-top: 150px;
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 48px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  line-height: 14px;
}
.col-4 h1 {
  margin-top: 50px;
}
.col-4 a h1 {
  word-wrap: break-word;
  text-decoration: underline;
}
.col-5-col-6 {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  background-color: #f1f1f1;
  margin-top: 100px;
}
.col-6 img {
  width: 80rem;
  border-radius: 20px;
  position: relative;
}
.col-5 {
  background-color: #fff;
  font-size: 20px;
  line-height: 40px;
  border-radius: 20px;
  z-index: 1;
  width: 50rem;
  padding: 35px 50px;
}
.col-6 {
  position: absolute;
  right: 50px;
}
.content-col-5 a h1 {
  word-wrap: break-word;
  text-decoration: underline;
}
.thuonghieu {
  background-color: #f1f1f1;
  padding: 0px 100px;
}
.thuonghieu img {
  width: 20rem;
}
.thuonghieu1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 100px;
  gap: 25px;
}
.thuonghieu2 {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 100px;
  gap: 25px;
}
.coca {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.sprite {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.aquarius {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.nutri {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.dasani {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.fanta {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.khampha h1 {
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0px;
  text-align: center;
}
.third-button a button {
  width: 40rem;
  height: 5rem;
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 48px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 14px;
  text-decoration: none;
}
.third-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 35px 35px;
  margin-top: 50px;
}
.footer-top img {
  width: 25rem;
  margin-top: 50px;
}
.fourth-button {
  align-items: center;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 48px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  justify-content: center;
  line-height: 18px;
  padding: 0 24px;
  text-decoration: none;
  gap: 10px;
  margin-top: 50px;
}
.fourth-button p {
  color: #fff;
}
.footer-middle {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 35px 35px;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
.footer-middle-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.footer-middle-right {
  display: flex;
  gap: 50px;
}
.footer-middle-left p {
  color: #fff;
}
.fifth-button {
  align-items: center;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 48px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  width: 32px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
.content-footer-bottom {
  color: #fff;
  padding: 35px 35px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.footer-middle-left h1 {
  color: #9b9b9b;
  font-size: 15px;
}
